{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>

<div class="form-container">

    <h2>Sign Up</h2>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    <form class="anime-form" method="POST">

        {% csrf_token %}

        <input type="text" name="name" placeholder="Enter Name" required>

        <input type="email" name="email" placeholder="Enter MES Email" required>

        <input type="password" name="password" placeholder="Enter Password" required>

        <button type="submit">Sign Up</button>

    </form>

</div>

</body>
</html>