{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify OTP</title>
<link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
<div class="form-container">
<h2>Enter OTP</h2>

<form class="anime-form" method="POST">

    {% csrf_token %}

    <input
        type="text"
        name="otp"
        placeholder="Enter OTP"
        required
    >

    <button type="submit">
        Verify
    </button>

</form>

{% if error %}
<div class="error-box">
    {{ error }}
    </div>
{% endif %}

</div>
</body>
</html>